RECALL_URL=http://insight.wps.cn/v7/aidocs/recall/chunk
RECALL_FILE_ID=552055768046
RECALL_VERSION=1
RECALL_TOP_K=3
RECALL_APP_ID=contract_data
RECALL_WIKI_BRANCH=func
WPS_SID=
AI_GATEWAY_URL=http://ai-gateway.wps.cn/api/v2/llm/chat
AI_GATEWAY_TOKEN=
AI_GATEWAY_UID=9052
AI_GATEWAY_PRODUCT=saas_knowledgebase_web
AI_GATEWAY_INTENTION=dc_saas_knowledgebase_extract
AI_GATEWAY_PROVIDER=ali
AI_GATEWAY_MODEL=qwen3-max-2026-01-23
AI_GATEWAY_MAX_TOKENS=4096
